<?php

header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
header("Cache-Control: post-check=0, pre-check=0", false);
header("Pragma: no-cache");

date_default_timezone_set("GMT");
ini_set('session.save_path', $_SERVER['DOCUMENT_ROOT'] . '/session');

define('APP_DIR',     '');
define('WEBROOT', __DIR__);
define('BASE_URL',    'https://'.$_SERVER['HTTP_HOST']);
define('ENVIRONMENT', 'prod');


?>